.demo-header {
  height:44px;
  line-height: 44px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #b2b2b2;
  img {
    height: 40px;
    &:nth-child(1) {
      height: 40px;
    }
    &:nth-child(3) {
      position: absolute;
      top:0;
      right:0;
    }
    }
  p {
    text-align: center;
    margin: -57px 60px 0 60px;
    font-size: 18px;
  }
}

.demo-ion-list {
  margin-bottom: 0!important;
}
